body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    max-width: 500px;
}

.title {
    margin-top: 2rem;
}

.pass-reset-form {
    text-align: left;
}

.pass-reset-form .btn {
    display: block;
    margin: auto;
    margin-top: 1.25rem;
    padding: 0.75rem 1.25rem;
}