<!DOCTYPE html>
<html lang="en">

<head>
    {{> metadata}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/passwordrecovery.css">
    <title>Clearway &mdash; Password recovery</title>
</head>

<body>
    <main class="main-content">
        <img src="images/logo.png" alt="Clearway logo" class="form-container__logo">
        <h1 class="title">Password recovery</h1>
        <p class="text">Insert your e-mail address below and we'll send you a message with a link to reset your password.</p>
        <input class="input" type="email" id="recoveryEmailInput">
        <button class="btn" id="sendRecoveryMessageBtn">Send me</button>
    </main>

    <div class="error-alert"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/passwordrecovery.js" type="module"></script>
</body>

</html>