<!DOCTYPE html>
<html lang="en">

<head>
    {{> metadata}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/passwordreset.css">
    <title>Clearway &mdash; Password reset</title>
</head>

<body>
    <main class="main-content">
        <img src="images/logo.png" alt="Clearway logo" class="form-container__logo">
        <h1 class="title">Password reset</h1>
        <form class="pass-reset-form" action="profile" method="POST">
            <label for="password">New password</label>
            <input class="input" type="password" name="password">
            <label for="passwordconfirmation">Confirm the password</label>
            <input class="input" type="password" name="passwordconfirmation">
            <button type="submit" class="btn" id="resetPasswordBtn">Submit</button>
        </form>
    </main>

    <div class="error-alert"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/passwordreset.js" type="module"></script>
</body>

</html>